<div *ngIf="myTemplate; else defaultBlock" [innerHtml]="myTemplate">
</div>
<ng-template #defaultBlock>
    <br>
    <div *ngIf="!notFound" class="d-flex justify-content-center">
        <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">{{'LOADING'| translate}}| translate}}...</span>
        </div>
    </div>
</ng-template>
<nav class="item-menu" *ngIf="notFound">
    <h2>404 Page Not Found</h2>
</nav>

<!-- filters -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="width: 0; height: 0;">
    <defs>
      <filter id="shadowed-goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
        <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
        <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2"
          result="shadow" />
        <feOffset in="shadow" dx="1" dy="1" result="shadow" />
        <feBlend in2="shadow" in="goo" result="goo" />
        <feBlend in2="goo" in="SourceGraphic" result="mix" />
      </filter>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
        <feBlend in2="goo" in="SourceGraphic" result="mix" />
      </filter>
    </defs>
  </svg>