.logo-text {
    font-size: large;
}

.card-body {
    flex: 1 1 auto;
    padding: 4rem 6rem;
}

.btn-primary {
    color: #fff;
    background-color: #288ebc;
    width: -webkit-fill-available;
}

.card {
    border: 1;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
    background-color: white;
    border-color: #efefef;
}

hr {
    margin: 0;
    margin-bottom: -20px;
    color: #443df6;
    opacity: 1;
    height: 2px;
}

.nav-tabs .nav-item {
    margin-bottom: -25px;
}

.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification .badge {
    position: absolute;
    top: 4px;
    right: -8px;
    padding: 2px 4px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.w-20 {
    width: 20%;
    height: auto;
    max-width: 20%;
}

.w-23 {
    width: 23%;
    height: auto;
    max-width: 23%;
}

.nav-b {
    bottom: 2px;
}

.lang-btn {
    background: var(--headerColor);
    font-size: 14px;
    border: 0;
    outline: 0;
    width: 65px;
}

