<header class="header" style="margin-bottom: 45px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <div class="nav-item active logo-text">
                    <a href=""><img class="logo" src={{logo}} /></a>
                </div>
                <ng-template [ngIf]="headerSchema?.left">
                    <ul *ngFor="let header of headerSchema.left" class="navbar-nav nav-tabs-line mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a *ngIf="header?.title" class="nav-link active" [routerLink]="[header.redirectTo]">{{header?.title}}</a>
                            <a *ngIf="header?.image" class="nav-link" [routerLink]="[header.redirectTo]">
                                <img style="width: 25px;" src={{header?.image}} />
                            </a>
                            <ng-template [ngIf]="header?.title && tab === header?.title">
                                <hr>
                            </ng-template>
                        </li>
                    </ul>
                </ng-template>
              
                <ng-template [ngIf]="headerSchema?.right">
                    <ul *ngFor="let header of headerSchema.right" class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a *ngIf="header?.title" class="nav-link active" [routerLink]="[header.redirectTo]">{{header?.title}}</a>
                            <a *ngIf="header?.image" class="nav-link" [routerLink]="[header.redirectTo]">
                                <img style="width: 25px;" src={{header?.image}} />
                            </a>
                            <ng-template [ngIf]="header?.title && tab === header?.title">
                                <hr>
                            </ng-template>
                        </li>
                    </ul>
                </ng-template>

            </div>
        </div>
    </nav>
</header>
