<header class="header">

    <nav class="navbar navbar-expand-lg navbar-light bg-white nav-b">
        <div class="container-fluid">

            <div class="nav-item active logo-text">
                <a href=""><img class="logo" src={{logo}} /></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <ng-template [ngIf]="headerSchema?.left">
                    <ul *ngFor="let header of headerSchema.left" class="navbar-nav nav-tabs-line mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a *ngIf="header?.title" id="{{header?.title}}"
                                class="nav-link  p14 {{header?.activeTab}} {{header?.className}}"
                                [routerLink]="[header.redirectTo]">{{header?.title}}</a>
                            <a *ngIf="header?.image" class="nav-link" [routerLink]="[header.redirectTo]">
                                <img style="width: 25px;" src={{header?.image}} />
                            </a>
                            <a *ngIf="header?.icon" class="nav-link" [routerLink]="[header.redirectTo]">
                                <i style="font-size: 25px;" class="{{header?.icon}}" aria-hidden="true"></i>
                            </a>
                            <ng-template [ngIf]="header?.title && tab === header?.title">
                                <hr>
                            </ng-template>
                        </li>
                    </ul>
                </ng-template>
                <ng-template [ngIf]="headerSchema?.right">
                    <ul *ngFor="let header of headerSchema.right" class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a *ngIf="header?.title" class="nav-link active p14 {{header?.className}}"
                                [routerLink]="[header.redirectTo]">{{header?.title}}</a>
                            <a *ngIf="header?.image" class="nav-link" [routerLink]="[header.redirectTo]">
                                <img style="width: 25px;" src={{header?.image}} />
                            </a>
                            <a *ngIf="header?.icon" class="nav-link" [routerLink]="[header.redirectTo]">
                                <i style="font-size: 25px;" class="{{header?.icon}}" aria-hidden="true"></i>
                            </a>
                            <ng-template [ngIf]="header?.title && tab === header?.title">
                                <hr>
                            </ng-template>
                        </li>
                    </ul>
                </ng-template>
                <span>
                   <i style="font-size: 25px;" class="fa fa-language text-primary-color mt-3"
                        aria-hidden="true"></i>
                    <label for="cars"> 
                    <select name="cars" id="cars" class="lang-btn text-primary-color" (change)="languageChange($event)" >
                        <option   value="{{lang.code}}" *ngFor="let lang of languages" > {{lang.name}}</option>
                    </select>
                </label>
                   </span>
                
            </div>
        </div>
    </nav>
</header>