<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-header nav-b navbar-inverse">

        <div class="navbar-brand d-contents" id="navbarExample01">
            <h6 class="font-weight-bold mt-2"><i onClick="history.go(-1); return false;"
                    class="fas fa-chevron-left mr-2" aria-hidden="true"></i> Document Details
            </h6>

            <!-- <div class="col-2 col-lg-1">
                <ol class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="" onClick="history.go(-1); return false;"><span class="p14 font-weight-bold"><i class="fa fa-close"></i></span> </a>
                    </li>
                </ol>
            </div> -->
        </div>
    </nav>

</header>

<div class="container">
    <!-- <ng-template [ngIf]="loader">
        <br>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                <span class="sr-only">{{'LOADING'|translate}}</span>
            </div>
        </div>
    </ng-template> -->
    <div class="contain mt-5 mb-20">

        <div class="row mb-3">
            <div class="col-12">
                <h6 class="font-weight-bold headerTitleColor">{{docName}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-sm-12 col-md-6 col-lg-4 col-xs-2">
                <ng-template ngFor let-doc [ngForOf]="document">
                    <a [routerLink]="['view']">
                        <div class="card height-100">
                            <div class="card-body">
                                <div class="card-intro-info">

                                    <div class="card-title mb-2 fs-14">
                                        <i class="fas fa-check primarybgColor fs-12 mr-1"></i>
                                        {{'SELF_ATTTESTED'|translate}}
                                    </div>

                                    <div class="fs-12">
                                        <div class="text-grey"> {{doc.name}} </div>
                                        <div class="text-grey"> Uploaded on Feb 10, 2022 </div>
                                    </div>
                                </div>
                                <div class="card-image">
                                    <ng-template
                                        [ngIf]="doc.extension === 'jpg' || doc.extension === 'png' || doc.extension === 'jpeg'">
                                        <img class="img-fluid" [src]="doc.file | authImage: doc.extension | async"
                                            onError="this.src='https://cdn.dribbble.com/users/789033/screenshots/2346667/finalloader2-2.gif'" />
                                    </ng-template>
                                    <ng-template [ngIf]="doc.extension === 'pdf'">
                                        <!-- <ngx-extended-pdf-viewer [src]="doc.file | authImage | async" onError="this.src='https://cdn.dribbble.com/users/789033/screenshots/2346667/finalloader2-2.gif'"></ngx-extended-pdf-viewer> -->
                                        <img [src]="'https://www.learningcontainer.com/wp-content/uploads/2019/09/sample-pdf-files-for-testing-300x300.png'"
                                            onError="this.src='https://cdn.dribbble.com/users/789033/screenshots/2346667/finalloader2-2.gif'" />
                                    </ng-template>


                                </div>
                            </div>
                        </div>
                    </a>
                </ng-template>

            </div>
        </div>

    </div>
</div>
