<header style="margin-bottom: 45px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-header nav-b navbar-inverse">

        <div class="navbar-brand d-contents" id="navbarExample01">
            <div class="nav-item active logo-text col-10 col-lg-11">
                <img class="logo" src="assets/images/elocker-logo.svg" />
            </div>

            <div class="col-2 col-lg-1">
                <!-- <a href="" onClick="history.go(-1); return false;"><i class="fa fa-close" ></i></a> -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="" onClick="history.go(-1); return false;"><span class="p14 font-weight-bold"><i class="fa fa-close"></i></span> </a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="mt-1 lh-32">
    <div class="">
        <div class="-md-6 mb-3 term-txt-color">
            <p class="card-text lh-lg p16 text-center">
                <b>Frequently asked questions</b>
            </p>
        </div>
    </div>
</div>
<ngb-accordion class="p14" #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="What is an E-locker?">
        <ng-template ngbPanelContent>
            The Government’s “E-Locker Initiative” complements the Sri Lanka Unique Digital Identity (SLUDI) program, by allowing citizens to manage authenticated documents that can carry specific personal information about themselves, for them to avail any specific
            Government/Private sector services or benefits.
        </ng-template>
    </ngb-panel>
    <ngb-panel title="What are the key components of E-locker?">
        <ng-template ngbPanelContent>
            <ul>
                <li>
                    <b>Scan & Upload Documents</b> - You can self-attest documents that are available offline and then, scan and upload them on to your E-Locker account.
                </li>
                <li>
                    <b>Scan & Upload QR code Of Verifiable Credentials</b> - You can scan verifiable credential documents, by scanning their QR code and and importing them on to your E-Locker account
                </li>
                <li>
                    <b>Import documents</b> - You can fetch verifiable credentials from already available issuer systems, into your E-Locker account.
                </li>
            </ul>
        </ng-template>
    </ngb-panel>

    <ngb-panel title="What are the benefits of using an E-locker?">
        <ng-template ngbPanelContent>
            <ul>
                <li>
                    Important Documents Anytime, Anywhere!
                </li>
                <li>
                    Authentic Documents, Legally at Par with Originals.
                </li>
                <li>
                    Digital Document Exchange with the consent of the citizen.
                </li>
                <li>
                    Faster service Delivery- Government Benefits, Employment, Financial Inclusion, Education, Health.
                </li>
            </ul>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="How to sign up/register?">
        <ng-template ngbPanelContent>
            Signing up for E-Locker is easy - all you need is your mobile. Your mobile number will be authenticated by sending an OTP (one-time password). This will create your E-Locker account.
        </ng-template>
    </ngb-panel>

    <ngb-panel title="What is OTP?">
        <ng-template ngbPanelContent>
            OTP is a random one-time password generated by the E-Locker system and sent to your registered mobile number. The OTP is valid for 2 minutes only. If you enter the OTP after 2 minutes, it will be rendered invalid and you have to request a resend OTP.
        </ng-template>
    </ngb-panel>

    <ngb-panel title="How can I change the information displayed in my profile on E-locker?">
        <ng-template ngbPanelContent>
            After a successful login, click on the “Profile” option (in the menu section) which will take you to the Profile Detail page. An “Edit” button will be available on the same page, clicking on which, will allow you to update the details.
        </ng-template>
    </ngb-panel>

    <ngb-panel title="I want to change my registered mobile number in my E-Locker account? Is there any provision to update mobile number?">
        <ng-template ngbPanelContent>
            Currently this feature is not available.
        </ng-template>
    </ngb-panel>

    <ngb-panel title="What are ‘Issued’ documents and what are ‘Uploaded’ documents?">
        <ng-template ngbPanelContent>
            <i>“Issued documents”</i> are e-documents issued by various Government agencies, in electronic format, directly from the original data source and the URI (link) of these documents is available in the issued documents section of E-Locker. Whereas
            <i>“Uploaded documents”</i> are those documents that are uploaded directly by the E-Locker user and are self attested.

        </ng-template>
    </ngb-panel>

    <ngb-panel title="How can I upload documents?">
        <ng-template ngbPanelContent>
            After a successful login, you will be redirected to a My Documents page. On the right top corner, you will see an “Add” button. Clicking this, will take you to the Documents section. Click on “Upload document / Scan document” to upload the documents.
            Once complete, click on the “Submit” button to complete the process.
        </ng-template>
    </ngb-panel>

    <ngb-panel title="What is the maximum file size and allowed file formats for upload?">
        <ng-template ngbPanelContent>
            The maximum file upload size is 5 MB. The only allowed file extensions are .JPEG, .PNG, .JPG, .PDF.
        </ng-template>
    </ngb-panel>

    <ngb-panel title="How can I verify my SLUDI?">
        <ng-template ngbPanelContent>
            To get the verified SLUDI certificate. Click on browse document section, In “By document” search section.
            <ul>
                <li>
                    Select the “Sri lanka unique identification” option
                </li>
                <li>
                    Add your SLUID and click verify
                </li>
                <li>
                    Registered mobile number will receive an OTP
                </li>
                <li>
                    Submit the OTP and verify the ID number
                </li>
                <li>
                    Complete the submit process and your verified SLUID certificate will be available
                </li>
            </ul>
            Same process can be used by other available issuers to fetch the documents.
        </ng-template>
    </ngb-panel>

    <ngb-panel title="Does E-locker have other authorized issuers other than SLUDI?">
        <ng-template ngbPanelContent>
            At present you are only allowed to fetch your SLUDI verifiable credential into your E-Locker account. You will have the ability to fetch your verifiable credentials, from various issuing systems, in the near future.
        </ng-template>
    </ngb-panel>

    <ngb-panel title="My organization wants to utilize the services of E-Locker to become an issuer /requester? How do we proceed?">
        <ng-template ngbPanelContent>
            To become an Issuer/Requester of E-Locker, your organization first needs to be registered with us. To know about the process of registration, please contact our customer support team at xxx@xxx.xx . Your request will be forwarded to the on-boarding team
            and they’ll get back to you.
        </ng-template>
    </ngb-panel>

    <ngb-panel title="How can I verify my SLUDI?">
        <ng-template ngbPanelContent>
            E-Locker is completely safe and secure to use. We do care about your privacy and take all precautionary measures to ensure your data is protected and uncompromised. We follow following standard practices
            <ul>
                <li>
                    The application communication is secured through SSL
                </li>
                <li>
                    Industry standard encryption protocols are followed
                </li>
                <li>
                    Controlled data access layer
                </li>
                <li>
                    Storage level encryption is enabled
                </li>
            </ul>
        </ng-template>
    </ngb-panel>

</ngb-accordion>
