textarea {
    border: none !important;
}

.input-field {
    height: 48px !important;
border-radius: 4px !important;
border: 1px solid #EFEFEF
}

.p-0 {
    padding: 0 !important;
}

.div-scroll {
    overflow-y: scroll; /* Show vertical scrollbar */
    overflow-x: scroll; /* Show horizontal scrollbar */
  }