<div style="width:505px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
    <div style="width:450px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
           <span style="font-size:30px; font-weight:bold">Certificate of Completion</span>
           <br><br>
           <span style="font-size:15px"><i>This is to certify that</i></span>
           <br><br>
           <span style="font-size:15px"><b>$student.getFullName()</b></span><br/><br/>
           <span style="font-size:15px"><i>has completed the course</i></span> <br/><br/>
           <span style="font-size:20px">$course.getName()</span> <br/><br/>
           <span style="font-size:15px">with score of <b>$grade.getPoints()%</b></span> <br/><br/><br/><br/>
           <span style="font-size:15px"><i>date</i></span><br>
         
          <span style="font-size:15px">21/Jan/2022</span>
    </div>
    </div>