<div class="container">
    <h6 class="font-weight-bold mt-3">{{'BROWSE_ISSUED_DOCUMENTS'|translate}}</h6>
    <p class="p14 mt-3 mb-2">{{'SELECT_AND_DOWNLOAD_ISSUED_DOCUMENTS'|translate}}</p>
    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">{{'BY_DOCUMENT'|translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">{{'BY_ISSUER'|translate}}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                role="tab" aria-controls="contact" aria-selected="false">{{'BY_CATEGORY'|translate}}</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col search-area">
                    <div class="input-append">
                        <input class="w-100" type="text" placeholder="Search Documents" aria-label="Search">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <ng-template ngFor let-item [ngForOf]="documentTypes" let-i="index">
                <a [routerLink]="['add',item.osid]">
                    <div class="card lh-lg mt-3 p-3 p14">
                        <div class="text-dark fs-14 mb-1">{{item.title}}
                        </div>
                        <div class="text-grey fs-12">{{item.issuer}}</div>
                    </div>
                </a>
            </ng-template>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
</div>