<header style="margin-bottom: 45px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-header">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <div class="nav-item active logo-text">
                    <a class="nav-link" aria-current="page" style="color: black;">{{'ATTEST_DETAILS' | translate}}</a>
                </div>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <button type="button" (click)="close()" class="close float-right"><span _ngcontent-fni-c481=""
                                aria-hidden="true">×</span></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container ">
    <h3>{{'ATTESTATION_CLAIM_OF' | translate}} {{claimData?.requestorName}}</h3>

    <div class="row">
    <div class="col">
        <p class="p14 font-weight-bold">{{'REVIEW_AND_ATTEST_CLAIM' | translate}}</p>

        <div class="">
        </div>
        <!-- <button style="margin: 8px;" class="btn btn-primary text-end pr-20 fw-bold text-capitalize"
                        (click)="onAttestApproveReject()"><i class="fa fa-check-circle text-success"
                                data-mdb-toggle="tooltip" title="Attested"></i>Approve</button>
                        <button style="margin: 8px;" class="btn btn-primary text-end fw-bold pr-20 text-capitalize"
                            data-toggle="modal" data-target="#deny"><i
                                class="fa fa-exclamation-circle red"></i>Deny</button> -->

        <!-- <ng-template [ngIf]="type == 'experience'">
        <h6>Experience</h6>
        <div class="card">
            <div class="card-body" style="height: 128px;">
                <dl>
                    <dd>
                        <div><b>{{experienceDetail.TeacherType}}</b></div>
                        <div>{{experienceDetail.institute}}</div>
                        <div *ngIf="experienceDetail.enddate; else elseBlock1">{{experienceDetail.startdate}} -
                            {{experienceDetail.enddate}}</div>
                        <ng-template #elseBlock1>
                            <div>{{experienceDetail.startdate}} - Current</div>
                        </ng-template>
                        <div class="fs-7 text-grey-color">{{experienceDetail.EmploymentType}}</div>
                    </dd>
                    <dd style="text-align-last: right;">
                        <button style="margin: 8px;" class="btn btn-primary text-end pr-20 fw-bold text-capitalize"
                            (click)="onAttest()"><i class="fa fa-check-circle text-success"></i>Approve</button>
                        <button style="margin: 8px;" class="btn btn-primary text-end fw-bold pr-20 text-capitalize"
                            data-toggle="modal" data-target="#deny"><i
                                class="fa fa-exclamation-circle red"></i>Deny</button>
                    </dd>
                </dl>
            </div>
        </div>
        <hr>
    </ng-template> -->

        <div>
            <!-- <h6>Attestations </h6> -->
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dd class="col col-lg-7">
                            <div *ngFor="let item of propertyData">
                                <div *ngIf="item?.title == 'FileName'; else noFile">
                                    {{item?.title}} : <a href="" style="color:#1266f1">{{item?.value}}</a>
                                </div>
                                <ng-template #noFile>
                                    <div class="lh-lg"> <span class="p14 text-grey-color"> {{item?.title}}: </span>
                                        <span class="p14 text-dark"> {{item?.value}}
                                        </span>
                                    </div>
                                </ng-template>
                            </div>
                            <div *ngIf="documents != null" class="mb-3">
                                <ng-template ngFor let-document [ngForOf]="documents" let-i="index">
                                    <a href="/document/view?u={{document.fileName}}"
                                        class="badge badge-pill badge-primary mr-1" target="_blank"><i
                                            class="fa fa-paperclip" aria-hidden="true"></i>{{'DOCUMENT' | translate}} {{i + 1}}</a>
                                </ng-template>
                            </div>
                        </dd>
                        <dd class="float-end col col-lg-5">
                            <button
                                class="btn btn-style m-1 text-end pr-20  px-2 fw-bold p14 text-capitalize btn-success"
                                (click)="onAttestApproveReject('GRANT_CLAIM',$event)"><i
                                    class="fa fa-check text-success" data-mdb-toggle="tooltip" title="Attested"></i>
                                &nbsp; {{'APPROVE' | translate}}</button>
                            <button class="m-1 btn btn-deny btn-style text-end fw-bold pr-20 p14  px-2 text-capitalize"
                                data-toggle="modal" data-target="#deny"><i class="fa fa-times red"></i> &nbsp;
                               {{'DENY' | translate}}</button>
                        </dd>

                    </dl>

                    <div class="card" style="background-color: #F6F8FC;">

                        <div class="p-4">

                            <ng-template [ngIf]="noteAdded">
                                <div class="text-success p14"><i class="fa fa-check"></i> {{'NOTE_ADDED' | translate}}
                                </div>
                            </ng-template>
                            <form [formGroup]="noteForm">
                                <formly-form [model]="model" [fields]="noteFields" [options]="options"
                                    [form]="noteForm">
                                </formly-form>
                                <button type="button" [disabled]="!noteForm.valid"
                                    class="btn btn-primary text-capitalize font-weight-bold submit-button"
                                    (click)="saveNote($event)">{{'SAVE_NOTE' | translate}}</button>
                            </form>

                            <div class="pt-4 mb-1" *ngFor="let noteData of notes">
                                <ng-template [ngIf]="noteData.notes != ''">
                                    <h6 class="mb-1 p14 text-dark">{{noteData.notes}}</h6>
                                    <span class="fs-7 text-grey-color">
                                        <span *ngIf="noteData.addedBy"> {{'BY' | translate}} {{noteData.addedBy}}, </span>
                                        <span *ngIf="noteData.createdAt"> {{noteData.createdAt | date : 'd MMM y'}}
                                        </span>
                                    </span>
                                </ng-template>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="col ml-2">
        <!-- <div class="mt-2"> -->
        <!-- </div> -->
        <!-- <h5>Public Profile of {{claimData?.requestorName}}</h5> -->
        <p class="p14 font-weight-bold">{{'PUBLIC_PROFILE_OF' | translate}} {{claimData?.requestorName}}</p>
        <div class="card">
            <div class="card-body mb30">
                <ng-template [ngIf]="profile">
                    <app-layouts layout={{claimEntity}} identifier={{claimEntityId}} public={{profile}}></app-layouts>
                </ng-template>



                <!-- <div class="card" style="background-color: #f2e39c99;">
        <div class="card-body">
            <h5>Add a Note for {{claimData?.requestorName}}</h5>
            <ng-template [ngIf]="noteAdded">
                <div style="color: green;"><i class="fa fa-check"></i> Note Added!
                </div>
            </ng-template>
            <json-schema-form [schema]="approveNoteSchema" [layout]="form" framework="bootstrap-4"
                (onSubmit)="saveNote($event)">
            </json-schema-form>
        </div>
    </div>
</div> -->

                <!-- deny Modal -->
                <div class="modal right fade" id="deny" tabindex="-1" role="dialog" aria-labelledby="deny">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h3 class="modal-title font-weight-bold" id="myModalLabel2">{{'DENY' | translate}} {{type}}</h3>
                                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button> -->
                            </div>

                            <div class="modal-body">
                                <!-- <json-schema-form [schema]="denyNoteSchema" [layout]="form" framework="bootstrap-4"
                        (onSubmit)="onAttestApproveReject('REJECT_CLAIM', $event)">
                    </json-schema-form> -->


                                <form [formGroup]="denyForm" class="p-3">
                                    <formly-form [model]="model" [fields]="denyFields" [options]="options"
                                        [form]="denyForm">
                                    </formly-form>
                                    <button type="button" class="btn large btn-style btn-bg submit-button">
                                        <span aria-hidden="true" ata-dismiss="modal" aria-label="Close"
                                            class="label-primary font-weight-bold text-capitalize">{{'CANCEL' | translate}}</span></button>

                                    <button type="button" [disabled]="!denyForm.valid"
                                        class="btn btn-primary btn-style float-end submit-button"
                                        (click)="onAttestApproveReject('REJECT_CLAIM',$event)"><span
                                            class="font-weight-bold text-capitalize">{{'YES_DENY' | translate}}</span></button>


                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
