<app-header [headerFor]='entity' [tab]='tab'></app-header>
<div class="container">
    <h6 class="d-inline-block p16 font-weight-bold">{{tableSchema.title}}</h6>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="p12 text-grey-color" *ngFor="let th of tableSchema.fields;" scope="col">{{th?.title}}</th>
                <!-- <th scope="col">Name</th>
        <th scope="col"></th> -->
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-item [ngForOf]="tableSchema.items | paginate: { itemsPerPage: limit, currentPage: page }" let-i="index">
                <!-- {{i}}
        {{item | json}}
        <hr> -->

                <tr>
                    <!-- {{td | json}} -->
                    <ng-template ngFor let-td [ngForOf]="item" class="row">
                        <td  width="10%" *ngIf="td.type && td.type === 'button'; else normalTd">
                            <a [routerLink]="[td.redirectToUrl]" class="btn btn-bg btn-style text-primary-color text-end fw-bold text-capitalize">{{td?.buttonText}}</a>
                        </td>
                        <ng-template #normalTd>
                            <td class="col-3" *ngIf="td?.formate && td.formate == 'date' && td?.type !== 'name'; else notFormate"><b>{{td?.value | date : 'd MMM y'}}</b></td>
                            <ng-template  class="col-5" #notFormate>
                                <td><b>{{td?.value}} </b></td>
                            </ng-template>
                            <ng-template class="col-5" *ngIf="td?.type === 'name'">
                                <td ><b>{{td?.value}} </b></td>
                            </ng-template>
                        </ng-template>
                        
                        
                    </ng-template>

                </tr>
            </ng-template>
        </tbody>
    </table>
    <pagination-controls class="my-1 float-end" (pageChange)="page = $event"></pagination-controls>

    <table class="mx-5 my-5 w-50">
        <tbody class="fs-5">
            <tr *ngIf="tableSchema.items && !tableSchema.items.length">
              <td class="float-end" [attr.colspan]="tableSchema.items.length">
                No Records Found!
              </td>
            </tr>
          </tbody>
      </table>

</div>
