<app-header [headerFor]='entity' [tab]='tab'></app-header>
<div class="container">
    <h6 class="d-inline-block">{{tableSchema.title}}</h6>
    <table class="table table-striped">
        <thead>
            <tr>
                <th *ngFor="let th of tableSchema.fields;" scope="col">{{th?.title}}</th>
                <!-- <th scope="col">Name</th>
        <th scope="col"></th> -->
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-item [ngForOf]="tableSchema.items" let-i="index">
                <!-- {{i}}
        {{item | json}}
        <hr> -->

                <tr>
                    <!-- {{td | json}} -->
                    <ng-template ngFor let-td [ngForOf]="item">
                        <td *ngIf="td.type && td.type === 'button'; else normalTd">
                            <a [routerLink]="[td.redirectTo]" class="btn btn-primary text-end fw-bold text-capitalize">{{td?.buttonText}}</a>
                        </td>
                        <ng-template #normalTd>
                            <td *ngIf="td?.formate && td.formate == 'date'; else notFormate">{{td?.value | date: 'dd/MM/yyyy'}}</td>
                            <ng-template #notFormate>
                                <td>{{td?.value}}</td>
                            </ng-template>
                        </ng-template>
                        
                        
                    </ng-template>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <table class="mx-5 my-5 w-50">
        <tbody class="fs-5">
            <tr *ngIf="tableSchema.items && !tableSchema.items.length">
              <td class="float-end" [attr.colspan]="tableSchema.items.length">
                No Records Found!
              </td>
            </tr>
          </tbody>
      </table>

</div>