<div class="h-25 mt-5 text-capitalize">

    <div class="h-25 mt-5" style="text-align:-webkit-center">
        <img *ngIf="!scannerEnabled" style="height:150px" src="/assets/images/verify.png">
        <h3 *ngIf="!scannerEnabled" class="text-center">Verify a certificate</h3>
        <zxing-scanner  *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)" style="width: 50%">
        </zxing-scanner>
        <button (click)="enableScanner()" *ngIf="!scannerEnabled" type="button" class="btn btn-success">
            <span>Scan QR code </span>
            <img style="display: inline; height: 20px;margin-left: 5px;" src="https://cdn-icons-png.flaticon.com/512/3126/3126504.png" alt="">
        </button>
        <button (click)="enableScanner()" *ngIf="scannerEnabled" type="button" class="btn btn-success">Stop
            Scanner</button>
    </div>
</div>

<div style=" margin-left: 25%;" class="card w-50" *ngIf="!scannerEnabled && success">

    {{qrString}}

    <div class="card-body contain ">
    <h3>Verify Certificate </h3>
    <h7><i class="fa fa-check btn-success m-4" aria-hidden="true"></i>
         This Certificate is valid
    </h7>
    <div *ngFor="let item of items" class="row lh-lg">
        <span class="col">{{item.title}} </span>
        <span class="col">{{item.value}}</span>
    </div>
</div>



</div>