select {
    height: 34px;
    width: 100%;
    left: 1px;
    top: 22px;
    border-radius: 4px;
    background: white;
}

select option {
    height: 34px; 
}


.inputField {
    height: 40px;
    width: 505px;
    left: -5px;
    top: 8px;
    border-radius: 4px;
    border: 1px solid #EFEFEF !important;
}



.div-scroll {
    overflow-y: scroll; /* Show vertical scrollbar */
    overflow-x: scroll; /* Show horizontal scrollbar */
  }

  .h-card{
    height: 570px !important;
  }


  .mt-23{
    margin-top: -23px;
}

// .setHeight{
//     height: 614px !important;
//     max-height: 614px !important;
// }

// .modal-content {
//     width: 45%;
//     height: 425px;
//     margin: 10% 30%;
// }

.w-0{
    width: 0 !important;
}
  


.box{
    float:left;
    margin-right:20px;
}
.clear{
    clear:both;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
  }

  .desc {
    height: 90px;
}

.prevBtn 
{
    margin: 1px 0 -2px 20px;
    z-index: 9999;
    position: absolute;
}

.templateThumb {
    width: 122px;
    border: 1px solid;
}

  /* Move the textarea in front of the result */
  
  
  /* Paragraphs; First Image */

  p code {
    border-radius: 2px;
    background-color: #eee;
    color: #111;
  }
  

    /*  grapesjs: start*/

    .gjs-cv-canvas {
      top: 0;
      width: 100%;
      height: 100%;
   }
   
   .gjs-block {
      width: auto;
      height: auto;
      min-height: auto;
   }


    /* grapesjs : end*/

//disable json editor
    .disabledbutton {
      pointer-events: none;
  }


  .adv-btn {
    color: #A6D4FF;
    background-color: #000000;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700 !important;
  }

  .adv-label {
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 700 !important;
    color: #A6D4FF !important;
    background-color: #000000 !important;
}
