<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-header nav-b navbar-inverse">
        <a class="nav-link" href="" onClick="history.go(-1); return false;"><i
                class="fa fa-angle-left primary-text"></i> </a>
        <span class="p16"><b>Edit Template</b></span>
    </nav>


</header>

<div class="container mt-2 bg-white py-1 px-3">
    <div>
        <div class="row d-flex mt-4 setHeight">
            <div class=" p-0 col-12 col-sm-5 setHeight border-right">
                <ul class="nav nav-tabs ui-tabs font-600">
                    <li class="active col-sm-5"><a href="#htmlDiv" class="active fs-16" data-toggle="tab">Design</a>
                    </li>
                    <li class="col-sm-6"><a href="#schenaDiv"  class="fs-16" data-toggle="tab">Schema</a>
                    </li>
                  </ul>
                
                  <div class="tab-content">
                        <div class="tab-pane active" id="htmlDiv">
                            <div class="d-flex flex-justify-between p-3"> 
                                <div class="font-600">HTML</div>
                                <!-- <button class="fs-14 btn btn-sec-bg submit-button float-end">
                                    <i aria-hidden="true" class="fa fa-pencil-square-o"></i> Edit 
                                </button> -->
                              </div>
                            <textarea rows="20" cols="70" class="card-body w-100 h-90 border border-light" [(ngModel)]="userHtml"
                            (ngModelChange)="injectHTML();"  placeholder="Enter html code ..."></textarea>
                        </div>                           
                        <div class="tab-pane fade" id="schenaDiv">
                            <div class="d-flex flex-justify-between p-3"> 
                                <div class="font-600">JSON Schema</div>
                                <!-- <button class="fs-14 btn btn-sec-bg submit-button float-end">
                                    <i aria-hidden="true" class="fa fa-pencil-square-o"></i> Advance Editor 
                                </button> -->
                              </div>
                            <textarea rows="20" cols="70" class="card-body w-100 h-90 border border-light" [(ngModel)]="userJson"
                                placeholder="Enter html code ..."></textarea>
                        </div>
                  </div>

                <!-- <div class="bs-example">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#htmlDiv" class="nav-link active" data-toggle="tab">HTML</a>
                        </li>
                        <li class="nav-item">
                            <a href="#schenaDiv" class="nav-link" data-toggle="tab">Schema</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="htmlDiv">
                            <textarea rows="20" cols="70" class="card-body w-100 h-75" [(ngModel)]="userHtml"
                            (ngModelChange)="injectHTML();"  placeholder="Enter html code ..."></textarea>
                        </div>
                        <div class="tab-pane fade" id="schenaDiv">
                            <textarea rows="20" cols="70" class="card-body w-100 h-75" [(ngModel)]="userJson"
                                placeholder="Enter html code ..."></textarea>
                        </div>

                    </div>
                </div> -->
            </div>

            <div class="col-12 col-sm-7 setHeight">
                <h6 class="font-600">Preview</h6>
                <div class=" card h-90 border-0 bx-none">

                    <!-- <div class="card-body w-100" [innerHtml]="userHtml | safe : 'html'"></div> -->
                    <!-- <iframe id="frame" srcdoc='{{userHtml}}'></iframe> -->

                    <iframe id="iframe2" src="about:blank" class="w-100 h-100"></iframe>
                   
                    <!-- <iframe width="560" height="315" srcdoc="{{userHtml}}" frameborder="0" allowfullscreen></iframe> -->
                                    </div>
            </div>
            <div class="preview-footer">
                <!-- <button class="btn btn-sec-bg submit-button mx-3">Preview on email</button> -->
                <!-- <button (click)="cancel()" class="btn btn-sec-bg submit-button">Preview on eLocker</button> -->
                <button  data-toggle="modal" data-target="#prewiewProfile" class="btn btn-bg submit-button float-end mr-2">Save</button>
            </div>
        </div>

        <div>
            <!-- <button (click)="cancel()" class="btn btn-sec-bg submit-button">Cancel</button>
            <button data-toggle="modal" data-target="#prewiewProfile" class="btn btn-bg submit-button float-end mr-2">Save</button>
           -->

            <div class="modal right fade  right-xl-modal" id="prewiewProfile" tabindex="-1" role="dialog"
                aria-labelledby="prewiewProfile">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="">Save Template</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="container mt-4">
                            <div class="mb-4">
                                <p class="p12 mb-2"> <b>Name</b></p>
                                <input [(ngModel)]="templateName" class="w-100 input-field p14 p-3 inputField" placeholder="Enter Template name"
                                    type="text" />
                            </div>

                            <div class="mt-2">
                                <p class="p12 mb-2"> <b>Description </b><span class="text-muted">(optional)</span></p>
                                <textarea [(ngModel)]="description" class="w-100 desc py-2 input-field p14 pl-3 inputField" placeholder="Enter description"
                                     ></textarea>
                            </div>


                            <div class="mt-4">
                                <button (click)="submit()" data-dismiss="modal" aria-label="Close" class="btn btn-bg submit-button float-end">Save</button>
                                <button class="close" data-dismiss="modal" aria-label="Close" class="btn btn-sec-bg float-end submit-button mr-2">Cancel</button>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


    </div>

</div>
