<div class="contain mt-5 mb-20 mx-4 ">

  <div class="row">
    <div class="col-8">
      <h4 class="font-weight-bold"><a href="/document/mydoc">My Documents</a></h4>
    </div>
    <div data-target="#mydocument" class="col-4"><button class="btn-bg text-primary-color btn-style float-end p14" ><a href="/document/add">Add</a></button></div>
  </div>

  <div class="card p-2 mt-3 font-weight-bold">
    <a href="/document/mydoc">  All (1) </a>
  </div>

  <h4 class="font-weight-bold mt-3">Browse Issued Documents</h4>
  <nav class="nav">
    <a class="nav-link active">By Category</a>
    <a class="nav-link">By State</a>
  </nav>


  <p class="p14 mt-3">Select and download issued documents</p>
  <div class="row">
    <div class="col">
      <input class=" w-100" type="text" placeholder="Search Documents" aria-label="Search">
      <i class="fas fa-search" style="margin-left: -50px;
        margin-top: 3px;" aria-hidden="true"></i>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-8">
      <p class=" font-weight-bold">Education</p>
    </div>
    <div class="col-4"> <label class="p12  float-end text-primary-color">View All</label></div>
  </div>

  <button class="btn-bg text-primary-color btn-style  p14 m-1"><a href="/document/issue">Class 10 Certificate (1)</a></button>
  <button class="btn-bg text-primary-color btn-style p14 m-1"><a href="/document/issue">Class 12 Certificate (1)</a></button>

  <div class="row mt-3">
    <div class="col-8">
      <p class=" font-weight-bold">Health</p>
    </div>
    <div class="col-4"> <label class="p12  float-end text-primary-color">View All</label></div>
  </div>

  <button class="btn-bg text-primary-color btn-style  p14 m-1"><a href="/document/issue">Vactination Certificate</a></button>

  <div class="row mt-3">
    <div class="col-8">
      <p class=" font-weight-bold">Employment</p>
    </div>
    <div class="col-4"> <label class="p12  float-end text-primary-color">View All</label></div>
  </div>

  <button class="btn-bg text-primary-color btn-style  p14 m-1"><a href="/document/issue">Private (6)</a></button>
  <button class="btn-bg text-primary-color btn-style p14 m-1"><a href="/document/issue">Government (1)</a></button>

  <div class="row mt-3">
    <div class="col-8">
      <p class=" font-weight-bold">Finance</p>
    </div>
    <div class="col-4"> <label class="p12  float-end text-primary-color">View All</label></div>
  </div>

  <button class="btn-bg text-primary-color btn-style  p14 m-1"><a href="/document/issue">Banking (9)</a></button>
  <button class="btn-bg text-primary-color btn-style p14 m-1"><a href="/document/issue">Insurance (7)</a></button>

  <div class="row mt-3">
    <div class="col-8">
      <p class=" font-weight-bold">Vehicle</p>
    </div>
    <div class="col-4"> <label class="p12  float-end text-primary-color">View All</label></div>
  </div>

  <button class="btn-bg text-primary-color btn-style  p14 m-1"><a href="/document/issue">Driving Licence (1)</a></button>
  <button class="btn-bg text-primary-color btn-style p14 m-1"><a href="/document/issue">Registration (10)</a></button>
  <button class="btn-bg text-primary-color btn-style p14 m-1"><a href="/document/issue">PUC</a></button>

  <div class="row mt-3">
    <div class="col-8">
      <p class=" font-weight-bold">Others</p>
    </div>
    <div class="col-4"> <label class="p12  float-end text-primary-color">View All</label></div>
  </div>

  <button class="btn-bg text-primary-color btn-style  p14 m-1"><a href="/document/issue">Residence</a></button>
  <button class="btn-bg text-primary-color btn-style p14 m-1"><a href="/document/issue">Marriage Certificate</a></button>
</div>