<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container my-2" style="
        padding-bottom: 2px;
    ">
            <div class=" d-inline ">
                <h3 class="mb-1 text-body">
                    Certificates
                </h3>
            </div>
        </div>
        <div>
            <button type="button" (click)="close()" class="close float-right"><span _ngcontent-fni-c481=""
                    aria-hidden="true">×</span></button>
        </div>

    </nav>
</div>
<div class="container" style="margin-top: 1px;">

    <div class="contain m-5 ">
        <div>
            <div class="row">
                <div class="col-8">
                    <span class="text-primary-color p14 font-weight-bold"> My Certificates</span>
                </div>
            </div>
            <div *ngFor="let item of certificates; let i = index" class="card lh-lg mt-3 p-3 p14">
                <span class=" font-weight-bold mb-2">{{item.data.skill ? item.data.skill : item.data.course}} <i
                        class="fas fa-award text-primary-color"></i></span>
                <div> <span class="text-grey">Issued by: </span> <span
                        class="font-weight-bold ml-2">{{item.data.issuer}}</span>
                </div>
                <div> <span class="text-primary-color"><a [routerLink]="['/Student/certificates',i]">View Certificate</a></span>
                </div>
            </div>
        </div>
    </div>
</div>