/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css?family=Lato:wght@300@500@600&display=swap";
@import "https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";

/* Importing Bootstrap SCSS file. */
 @import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 
body {
    font-family: 'Lato', sans-serif !important;
  }

.text-body{
    color: #000000 !important;
}

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #F6F8FC !important;
}
.btn-success {
    background-color: #88ecb226 !important;
    color: #22B02E !important;
    border: 0 !important;
}

.ngx-pagination .current {
    background: #1987B6 !important;
}

.d-contents{
    display: contents !important;
}

.btn-deny {
    background-color: #f3c2c24f !important;
    color: #C5292A !important;
    border: 0 !important;
}

textarea.form-control {
    height: 100px !important;
    font-size: 12px;
}

.btn-primary{
background-color: #1987B6 !important;
border-color: #1987B6 !important;
border: 0 !important;
}

.btn-style{
    border-radius: 8px !important;
height: 40px;
}

.text-primary-color {
    color: #1987B6 !important;
}

.text-secondary-color {
    color: #443DF6 !important;
}

.label-primary {
    color: #0098AB !important;
}

.p14, formly-field-select select, formly-autocomplete-type, .form-group, .form-control{
    font-size: 14px !important;
}

.p16, legend {
    font-size: 16px !important;
 
}

legend{
    font-weight: 700;
}

.img16{
    width: 16px
}

.p12{
    font-size: 12px !important;
}



.btn-bg {
    background-color: #c0e3eb6b !important;
    }

    .badge-secondary{
        border: 1px solid #CCCCCC !important;
        background-color: #F6F8FC !important;
        color: #8D9091 !important;
    }

.marker-pointer{
        font-family: "Font Awesome 5 Free";
        content: "\f3c5";
        display: inline-block;
        padding-left: 10px;
        vertical-align: middle;
        font-weight:900;
        font-style: normal;
        font-size: 12px;
}

.input-group-text{
    background: none !important;
    border: none !important;
    font-size:14px !important;
    padding-left: 0 !important;
    padding-right: 5px !important;
}

form-group {
    color: #000000;
}

.mb30 {
    margin-top: -30px;
}

// .form-group{
//     font-size: 14px;
// }

.form-group label{
    font-size: 12px;
font-weight: 700;}

.custom-control-label{
    font-size: 14px;
font-weight: 400 !important;
padding-top: 5px !important ;

}


// .text-primary-color{
//     color: #1987B6 !important;
// }

.private-access:before {
    font-family: "Font Awesome 5 Free";
    content: "\f023  Only by consent";
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-weight:900;
    font-style: normal;
    font-size: 12px;
 }

 .internal-access:before {
    font-family: "Font Awesome 5 Free";
    content: "\f023  Only by me";
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-weight:900;
    font-size: 12px;
    font-style: normal;

 }

 .public-access:before {
    font-family: "Font Awesome 5 Free";
    content: "\f57c  Anyone";
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-weight:900;
    font-size: 12px;
    font-style: normal;

 }


.custom-input-class {
    color: #2a8bac;
    background-color: #443df6;
}

$primary-color: #443df6;
$gray-color: #8d9091;
.primary-color {
    background-color: #efefef!important;
}

.btn-primary{
	background: $primary-color;
}

$primary-color-dark: #000;
.primary-color-dark {
    background-color: $gray-color!important;
}

// .text-primary-color{
//     color: $primary-color;
// }

.text-grey-color{
    color: $gray-color;
}
.form-label{
	color: $primary-color-dark;
}


html, body { height: 100%; }
body { margin: 0; font-family: "Lato", sans-serif;color: #000; background: #F6F8FC !important;}

.fs-7{
	font-size: 0.8rem;
}
.fs-8{
	font-size: 0.7rem;
}
.w-70{
	width: 70% !important;
}
a{
    text-decoration: none !important;
}
// /* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=)!important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 50%;
}
.btn-outline-secondary {
    color: #8d9091;
    border-color: #8d9091;
}

.btn-outline-secondary:hover {
    color: #8d9091;
    border-color: #8d9091;
}

.d-flex{
    display: flex;
}
.flex-justify-between{
    justify-content: space-between;
}

.alert-warning{
    color: #0e0e0e !important;
    background-color: #f7efe0 !important;
    border-color: #f7efe0 !important;
    font-size: 0.8rem;
    padding: 1rem;
}
.alert-success{
    color: #0e0e0e !important;  
    font-size: 0.8rem;
}
.red{
    color: red;
}




.display-flex { display: flex; }

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.flex-3 { flex: 3; }

.flex-4 { flex: 4; }

.flex-5 { flex: 5; }

.flex-6 { flex: 6; }

[class*="flex-"] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*="flex-"]:first-child {
  padding-left: 0;
}

[class*="flex-"]:nth-last-child(2) {
  padding-right: 0;
}


.modal-dialog.panel-right {
    position: fixed !important;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto !important;
    width: 600px !important;
    height: 100%;
    max-width: 800px !important;
    -webkit-transform: translate3d(0%, 0, 0) !important;
    -ms-transform: translate3d(0%, 0, 0) !important;
    -o-transform: translate3d(0%, 0, 0) !important;
    transform: translate3d(0%, 0, 0) !important;
}
.modal-dialog.panel-right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.modal-dialog.panel-right .modal-body {
    padding: 15px 15px 80px;
}
/*Right*/
.modal.fade .modal-dialog.panel-right {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 400ms ease-in-out !important;
    -moz-transition: opacity 0.3s linear, right 400ms ease-in-out !important;
    -o-transition: opacity 0.3s linear, right 400ms ease-in-out !important;
    transition: opacity 0.3s linear, right 400ms ease-in-out !important;
}
.modal.fade.show .modal-dialog.panel-right {
    right: 0;
}

.container{
    margin-top: 100px;
    padding-bottom: 100px;
}

formly-field {
    display: block;
  }


  @import "~@ng-select/ng-select/themes/default.theme.css";


  [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  
  [type="file"] + label {
    background: white;
    border: none;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    
    &:hover {
      background-color: darken(white, 5%);
    }

    #custom-text {
        margin-left: 10px;
        font-family: sans-serif;
        color: #aaa;
      }
  }

// discovery page
.selected-list .c-list .c-token {
    background-color: #6495ed99 !important;
}

.dropdown-list.tagToBody {
    position: fixed;
    width: 400px !important;
}

.list-area {
    background: #fbfbfb;
    color: black !important;
}

formly-autocomplete-type .ng-select {
    margin-top: 25px !important;
    margin-bottom: 5px;
}


.logo { 
    width: 50px; 
    height: 50px; 
    display: block; 
    text-indent: -9999px;
}

.ng-select{ 
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

.form-control:focus {
    border-color: #69afcf;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #69afcf;
  }

