<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-header nav-b navbar-inverse">
        <a class="nav-link" href="" onClick="history.go(-1); return false;"><i
                class="fa fa-angle-left primary-text"></i> </a>
        <span class="p16" [hidden]="isPreview"><b>Add Document</b></span>
        <span class="p16" [hidden]="!isPreview"><b>Edit Template</b></span>
    </nav>


</header>

<div class="container mt-2">
    <div [hidden]="isPreview">
        <!-- <form [formGroup]="form2" (ngSubmit)="submit()" *ngIf="fields">
            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form2"></formly-form>
        </form> -->

        <div class="row d-flex">
            <div class=" p-3 col-12 col-sm-4 card h-card ">
                <!-- <form [formGroup]="form2" (ngSubmit)="submit()" *ngIf="fields">
                            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form2"></formly-form>
                        </form> -->

                <div>
                    <label>Select Document</label> <br />
                    <select id="select-type-basic" [(ngModel)]="template" (change)="onChange($event.target.value)">
                        <option value="{{i}}" *ngFor="let item of documentTypeList; let i = index">
                            {{item?.name}}
                        </option>
                    </select>
                </div>


                <!-- <select id="select-type-basic" [(ngModel)]="status" (change)="onChange($event.target.value)">
                            <option *ngFor="let status_item of status_values" value="{{status_item}}">
                            {{status_item}}
                            </option>
                        </select> -->


                <h6 class="mt-4"><b>General Templates (A4) </b></h6>

           
                <div class="wrapper">
                    <div class="mb-2" *ngFor="let doctype of selectedDecType">
                        <p> {{doctype?.name}} </p>
                        <div class="mb-2" *ngFor="let doc of doctype.samples">
                        <div class="box" >
                            <img (click)="previewScreen(doc)" class="templateThumb" src="{{doc?.thumbnailUrl}}" />
                            <!-- <iframe src="/assets/template/sec.html" allowfullscreen="" width="100%"
                                height="200px"></iframe> -->
                               
                                <!-- <button class="prevBtn" (click)="previewScreen(doc)"> <i class="fa fa-eye" aria-hidden="true"></i></button>
                                <iframe id="frame" width="1024" height="726" src="/assets/template/sec.html"
                                style="margin: -263px 0 0 -357px !important; -webkit-transform:scale(0.3);-moz-transform:scale(0.3);"></iframe>
                       -->
                            </div>
                            </div>
                    </div>
                </div>
             

            </div>
            <div class=" col-12 col-sm-8" *ngIf="userHtml">
                <div class=" card">
                    <div class="d-flexcard-body m-2">
                        <div> <span>Preview</span></div>
                        <div>
                            <button (click)="editTemplate()"
                                class="float-end mt-23 btn btn-sec-bg submit-button float-end"><i
                                    class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Template</button>
                        </div>
                    </div>


                </div>

                <div class=" card div-scroll h-75">
                    <!-- <div class="card-body w-100" [innerHtml]="userHtml | safe : 'html'"></div> -->
                    <iframe id="iframe1" src="about:blank" class="w-100 h-100"></iframe>

                </div>
            </div>
        </div>

    </div>



</div>