.text-grey{
    color: #8D9091;
}

.dash-card {
    // max-width: 300px;
    display: inline-grid;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    margin: 3px;
}

.border-trans{
    border-color: transparent;
}

.add-doc-block{
    width: 100%;
    padding: 10px;
}

.card-body {
    display: flex;
}

.card-intro-info{
    width: calc(100% - 45px);
}

.card-image{
    border: 1px solid #ddd;
    height: 45px;
    border-radius: 50%;
    width: 45px;
    img{
        object-fit: cover;
        width: 100%;
    }
}
//   .card-body>div {
//     padding: 5px;
//   }

